.fondotab{
    -fx-background-color: black;
    -fx-background-radius: 0 0 20 20;
    -fx-opacity: 0.8;        
}

.button-abre-puerta{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius:10px;
    -fx-graphic: url("openDoor.png");
    -fx-text-fill: white;
}

.button-cierra-puerta{
    -fx-border-color: white;
    -fx-border-radius:10px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-graphic: url("closeDoor.png");
}

.button-abre-ventana{
    -fx-border-color: white;
    -fx-border-radius:10px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-graphic: url("openWindow.png");    
}

.button-cierra-ventana{
    -fx-border-color: white;
    -fx-border-radius:10px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-graphic: url("closeWindow.png");        
}

.button-abre-ventana-izquierda{
    -fx-border-color: white;
    -fx-border-radius:10 0 0 10;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-graphic: url("openleft.png");  
}

.button-abre-ventana-derecha{
    -fx-border-color: white;
    -fx-border-radius:0 10 10 0;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-graphic: url("openright.png");  
}

.button-enciende-luz{
    -fx-graphic:url("lightOn.png");
    -fx-background-color:transparent;
    -fx-border-color:white;
    -fx-border-radius:10px;
    -fx-text-fill:white;
}

.button-enciende-luz:hover{
    -fx-graphic:url("lightOn.png");
    -fx-background-color:transparent;
    -fx-border-color:green;
    -fx-border-radius:10px;
    -fx-text-fill:white;
}

.button-apaga-luz{
    -fx-graphic:url("lightOff.png");
    -fx-background-color:transparent;
    -fx-border-color:white;
    -fx-border-radius:10px;
    -fx-text-fill:white;
}

.button-apaga-luz:hover{
    -fx-graphic:url("lightOff.png");
    -fx-background-color:transparent;
    -fx-border-color:red;
    -fx-border-radius:10px;
    -fx-text-fill:white;
}

.background-Stats{
    -fx-background-color:lightslategray;
    -fx-background-radius:10 0 0 10;
    -fx-background-size:stretch;
    -fx-background-repeat:no-repeat
}

.background-pane-stats{
    -fx-background-color:black;
    -fx-opacity:0.7;
    -fx-border-color:white;
    -fx-background-radius:15px;
    -fx-border-radius:15px;        
}

.label{
    -fx-graphic:url("check.png");
    -fx-text-fill:green;
        
}
